<div class="row">
    <form id="change_pw" action="/change_password/<%= @id_usuario %>" method="POST">
        <fieldset>
            <legend>Cambiar contraseña</legend>
            <% if flash[:notice] %>
                <p class="notice"><%= flash[:notice] %></p>
            <% end %>
             <% if flash[:error] %>
                <p class="error"><%= flash[:error] %></p>
            <% end %>
            <label>Nueva contraseña</label>
                <input type="password" maxlength="10" name="password">
            <label>Confirmar contraseña</label>
                <input type="password" maxlength="10" name="confirm">
            <input type="hidden" name="_method" value="PUT">
            <input type="submit" id="changeButton" class="button small" value="Cambiar">
            <a href="/dashboard" class="button small secondary">Cancelar</a>
        </fieldset>
    </form>
</div>