<form action="/change_password" method="POST">
  <div class="form-group">
    <label>Nueva contraseña</label>
    <input type="password" class="form-control" name="password" placeholder="Nueva contraseña">
  </div>
  <div class="form-group">
    <label>Confirmar contraseña</label>
    <input type="password" class="form-control" name="confirm" placeholder="Confirmar nueva contraseña">
  </div>
  <input type="hidden" name="_method" value="PUT">
  <button type="submit" class="btn btn-success">Cambiar contraseña</button>
  <a href="/dashboard" class="btn btn-default">Cancelar</a>
</form>
