<form id="actualizar" action="/edit_user/<%= @id_usuario %>" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="nombre" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label>Cédula</label>
    <input type="text" class="form-control" name="cedula" placeholder="Cédula">
  </div>
  <label>Rol</label>
  <select name="rol" class="form-control">
    <option value="empty">Rol</option>
    <option value="Admin">Administrador</option>
    <option value="Recepcionista">Recepcionista</option>
  </select>
  <input type="hidden" name="_method" value="PUT">
  <br />
  <button type="submit" class="btn btn-success">Actualizar</button>
  <a href="/dashboard/users" class="btn btn-default">Cancelar</a>
</form>
