<div class="row">
  <form id="registro" action="/dashboard/users/new_user" method="POST">
    <fieldset>
      <legend>Crear nuevo usuario</legend>
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>
        <label>Nombre</label>
          <input type="text" name="nombre">
        <label>Cédula</label>
          <input type="text" name="cedula">
        <label>Contraseña</label>
          <input type="password" name="password">
        <label>Rol</label>
          <select name="rol">
            <option value="Admin">Administrador</option>
            <option value="Recepcionista">Recepcionista</option>
          </select>
        <input type="submit" id="registerButton" class="button small" value="Crear usuario">
    </fieldset>
  </form>
</div>
