<form id="registro" action="/dashboard/users/new_user" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
  <% flash[:error].each do |mensaje| %>
    <p class="text-danger"><%= mensaje %></p>
  <% end %>
  <% end %>
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="usuario[nombreUsuario]" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label>Cédula</label>
    <input type="text" class="form-control" name="usuario[cedulaUsuario]" placeholder="Cédula">
  </div>
  <div class="form-group">
    <label>Contraseña</label>
    <input type="password" class="form-control" name="usuario[passwordUsuario]" placeholder="Contraseña">
  </div>
  <div class="form-group">
  <label>Rol</label>
  <select name="usuario[nivelAcceso]" class="form-control">
    <option value="" selected>Seleccione nivel de acceso</option>
    <option value="Admin">Administrador</option>
    <option value="Recepcionista">Recepcionista</option>
  </select>
  </div>
  <button type="submit" class="btn btn-success">Crear usuario</button>
  <a href="/dashboard/users" class="btn btn-default">Cancelar</a>
</form>
