<form id="registro" action="/dashboard/courses/new_course" method="POST">
  <% if flash[:notice] %>
    <p class="text-success"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:error] %>
    <p class="text-danger"><%= flash[:error] %></p>
  <% end %>
  <div class="form-group">
  <label>Tipo</label>
  <select name="tipo" class="form-control">
    <% @types.each do |type| %>
    <option value="<%= type.idTipoCurso %>"><%= type.tipoCurso %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Nivel</label>
    <input type="text" class="form-control" name="nivel" placeholder="Nivel">
  </div>
  <div class="form-group">
    <label>Capacidad</label>
    <input type="text" class="form-control" name="capacidad" placeholder="Capacidad">
  </div>
  <div class="form-group">
    <label>Fecha de inicio</label>
    <input type="text" class="form-control" name="inicio" placeholder="DD/MM/AAAA">
  </div>
  <div class="form-group">
    <label>Fecha de culminación</label>
    <input type="text" class="form-control" name="fin" placeholder="DD/MM/AAAA">
  </div>
  <div class="form-group">
    <label>Duración (Horas)</label>
    <input type="text" class="form-control" name="horas" placeholder="Horas">
  </div>
  <button type="submit" class="btn btn-success">Crear curso</button>
  <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
</form>
