<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/foundation.css")%>">
    <link rel="stylesheet" type="text/css" href="<%=url("/stylesheets/flash_messages.css")%>">
    <title>Iniciar sesión | AF Maracay</title>
</head>

<body>

<div class="row">
  <form id="login" action="/signin" method="POST">
    <fieldset>
      <legend>Iniciar sesión</legend>
        <% if flash[:notice] %>
          <p class="notice"><%= flash[:notice] %></p>
        <% end %>
        <% if flash[:error] %>
          <p class="error"><%= flash[:error] %></p>
        <% end %>
        <label>Cédula</label>
            <input type="text" name="cedula">
        <label>Contraseña</label>
            <input type="password" name="password">
        <input type="submit" id="loginButton" class="button small" value="Iniciar sesión">
    </fieldset>
  </form>
</div>

</body>
</html>