<form action="/dashboard/providers/new_provider" method="POST">
  <div class="form-group">
    <label>Nombre</label>
    <input type="text" class="form-control" name="provider[provider_name]" placeholder="Nombre">
  </div>
  <div class="form-group">
    <label>RIF</label>
    <input type="text" class="form-control" name="provider[provider_rif]" placeholder="J-XXXXXXXX-X">
  </div>
  <div class="form-group">
    <label>Teléfono</label>
    <input type="text" class="form-control" name="provider[provider_phone]" placeholder="XXXX-XXXXXXX">
  </div>
  <div class="form-group">
    <label>Correo</label>
    <input type="text" class="form-control" name="provider[provider_email]" placeholder="Correo">
  </div>
  <div class="form-group">
    <label>Encargado</label>
    <input type="text" class="form-control" name="provider[manager]" placeholder="Encargado">
  </div>
  <button type="submit" class="btn btn-success">Crear proveedor</button>
  <a href="/dashboard/providers" class="btn btn-default">Cancelar</a>
</form>
