<form action="/dashboard/courses/new_course" method="POST">
  <div class="form-group">
  <label>Tipo</label>
  <select name="course[course_type_id]" class="form-control">
    <option value="" selected>Seleccione un tipo de curso</option>
    <% @types.each do |type| %>
    <option value="<%= type.course_type_id %>"><%= type.course_name %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
  <label>Sede</label>
  <select name="course[office_id]" class="form-control">
    <option value="" selected>Seleccione una sede</option>
    <% @offices.each do |office| %>
    <option value="<%= office.office_id %>"><%= office.office_name %></option>
    <% end %>
  </select>
  </div>
  <div class="form-group">
    <label>Código</label>
    <input type="text" class="form-control" name="course[course_code]" placeholder="XXXXXX">
  </div>
  <div class="form-group">
    <label>Nivel</label>
    <input type="text" class="form-control" name="course[course_level]" placeholder="XX-XX">
  </div>
  <div class="form-group">
    <label>Capacidad</label>
    <input type="text" class="form-control" name="course[course_capacity]" placeholder="Capacidad">
  </div>
  <div class="form-group">
    <label>Fecha de inicio</label>
      <div class="input-group date" id="leftDatePicker">
        <input type="text" class="form-control" name="course[start_date]">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  <div class="form-group">
    <label>Fecha de culminación</label>
      <div class="input-group date" id="rightDatePicker">
        <input type="text" class="form-control" name="course[completion_date]">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
      </div>
  </div>
  <div class="form-group">
    <label>Duración (Horas)</label>
    <input type="text" class="form-control" name="course[course_hours]" placeholder="Horas">
  </div>
  <button type="submit" class="btn btn-success">Crear curso</button>
  <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
</form>
