<form action="/dashboard/courses/new_course" method="POST">
  <div class="form-group">
    <label>Código</label>
    <input type="text" class="form-control" name="course[course_code]" placeholder="XXXX-XXXXX-XXX">
  </div>

  <div class="form-group">
    <label>Modalidad</label>
    <select name="course[course_type_id]" class="form-control">
      <option value="" selected>Seleccione una modalidad</option>
        <% @types.each do |type| %>
        <option value="<%= type.course_type_id %>"><%= type.course_modality %></option>
        <% end %>
    </select>
  </div>

  <div class="form-group">
    <label>Sede</label>
    <select name="course[office_id]" class="form-control">
      <option value="" selected>Seleccione una sede</option>
      <% @offices.each do |office| %>
        <option value="<%= office.office_id %>"><%= office.office_name %></option>
      <% end %>
    </select>
  </div>

  <button type="submit" class="btn btn-success">Crear curso</button>
  <a href="/dashboard/courses" class="btn btn-default">Cancelar</a>
</form>
